<% provide(:title, 'Home') %>

<div class="jumbotron">
  <h1>Get Your Course</h1>
  <p>CourseWatch notifies you when your selected course becomes available.</p>
  
  <%= link_to "Get Started!", new_user_path, class: "btn btn-primary btn-lg" %>
</div>


