<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
    <h1>Hey <%= @user.name %>,</h1>

    <p>It looks like <%= @course.subject %> <%= @course.number %> is available.
      Enroll fast before someone else does!</p>
  </body>
</html>
