<% provide(:title, "New Course") %>

<h1>Start watching courses</h1>

<%= render 'course_selection_form' %>

<% if @course_set && @course_set.count > 1 %>

  <div class="alert alert-dismissable alert-warning">
    <p>
      The course you selected has multiple sections and/or labs. Please specify
      which one you'd like to watch.
    </p>
  </div>
  
  <%= render 'sections_table' %>

<% end %>

<%= link_to "Back to profile", user_path(current_user), class: "btn btn-default" %>

