<footer class="footer-2 bg-midnight-blue">
  <div class="container">
    <nav class="pull-left">
      <div class="additional-links">
        <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
      </div>
    </nav>
    <div class="social-btns pull-right">
      <a href="mailto:coursewatchdartmouth@gmail.com"><div class="fui-mail"></div><div class="fui-mail"></div></a>
    </div>
    
  </div>
</footer>