<footer class="footer">
  <small>
    Built by Sujay Busam
  </small>
  <nav>
    <ul>
      <li><%= link_to "Legal Stuff", "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
    </ul>
  </nav>
</footer>